<% present(@job_application) do |job_application| %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2><%= t('job_application.title.show', time: job_application.received_date) %></h2>
    </div>
    <div class="col-lg-2">
      <%= link_to t('edit'), edit_job_application_path(@job_application), class: 'btn btn-w-m btn-white space-20 pull-right' %>
    </div>
  </div>

  <div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
      <div class="col-md-4">
        <%= render 'details', job_application: job_application %>
      </div>
      <div class="col-md-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Activites</h5>
          </div>
          <div class="ibox-content">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
