<div class="ibox-content">
  <div class="alert alert-info alert-dismissable">
      <%= t('candidate.messages.no_results') %>
  </div>
  <button type="button" class="btn btn-w-m btn-primary">
    <i class="fa fa-plus-square"></i>
    <%= t('candidate.messages.add') %>
  </button>
</div>
